body {
    box-sizing: border-box;
}

#calculator {
background: #999;
padding: 10px;
width: 130px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-content: space-between;
justify-content: space-between;

}

#output {
height: 20px;
background: #777;
flex-basis: 100%;
color: #fff;
}


#clear {
    flex-basis: 100%;

}

#numbers {
display:flex;
width: 100px;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-content: space-between;
}

div#numbers > button, div#operands > button {
    width: 30px;
    height: 30px;
    flex-grow: 0;
}

button#zero {
    flex-grow: 1 !important;
}

#operands {
    display: flex;
    flex-direction: column;
    align-content: space-between;

}

