body {
    box-sizing: border-box;
}

#calculator {
background: #999;
padding: 10px;
width: 500px;
display: flex;
flex-direction: column;
}

#output {
height: 20px;
background: #777;
}

div#output > button {

}

#numbers {
display:flex;
width: 100px;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-content: space-between;
}

button {
}

div#numbers > button {
    width: 30px;
    height: 30px;
    flex-grow: 0;
}

button#zero {
    flex-grow: 1 !important;
}

#operands {

}