body {
    box-sizing: border-box;
    margin: auto;
}

#calculator {
background: #999;
padding: 10px;
max-width: 200px;
height: 300px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-content: space-between;
justify-content: space-between;
margin:30px auto;

}

#output {
height: 40px;
background: #777;
flex-basis: 100%;
color: #fff;
font-size: 26px;
border: 1px solid #666;
padding: 4px;
}

#top-btns {
    display: flex;
    gap: 3px;
    flex-grow: 1;
}

#clear, #back {
    height: 40px;
    flex-grow: 1;
}

#numbers {
display:flex;
gap: 3px;
width: 75%;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-content: space-between;
align-items: stretch;
}

div#numbers > button, div#operands > button {
    width: 40px;
    height: 40px;
    flex-grow: 1;
}

button#zero {
    flex-grow: 1 !important;
}

#operands {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 3px;

}

